.gameDisplay {
    padding-top: 1rem;
}

.gameDisplay header {
    background-color: lightyellow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 1rem;
    border: 1px solid #ccc;
    gap: 1rem;
}

.gameDisplay header span:nth-child(2) {
    flex: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.gameDisplay + .gameDisplay {
    margin-block: 1rem;
    border-top: 1px solid #ccc;
}

.gameDisplay details {
    padding: 0.8rem 1rem;
    border: 1px solid #ccc;
    margin-block: 1rem;
}

.gameDisplay details summary strong {
    text-transform: uppercase;
}

.digit {
    text-rendering: optimizeLegibility;
    font-variant-numeric: tabular-nums;
    width: 42px;
    display: inline-block;
    font-weight: 500;
    text-align: center;
}
